node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# Prisma Migrations
/prisma/migrations

/src/generated/prisma

/dist

/uploaded_files
/src/modules/kalman script/outputs